body {
    font-size: 1.1rem;
    /* font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}
div, textarea {
    font-size: 120%;
    font-family: inherit;
}
button {
    font-size: 100%;
    font-family: inherit;
}
