<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='fn_index.js') }}"></script>
        <script type="text/javascript">
            var up_info = eval(decodeURIComponent("{{up_info}}"));
            //var res_data = eval(decodeURIComponent("{{res_data}}"));
        </script>
    </head>
    <body onload="init();">
        <div id="div00" style="position: fixed; display: none; width: 100%; height: 100%; top: 0, left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); cursor: pointer;">
            <div id="div01" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%)">
                <img src="{{ url_for('static', filename='spinner.gif') }}" style="width: 20%; height: 20%; display: block; margin-left: auto; margin-right: auto;"/>
            </div>
        </div>
        <select id='seid00' autocomplete='off' style='border-radius: 5px; border-width: 1px; border-style: outset'></select>
        <select id='seid01' autocomplete='off' style='border-radius: 5px; border-width: 1px; border-style: outset'></select>
        <br><br>
        <textarea id="texa00" rows="10" style="width: 100%;"></textarea>
        <br><br>
        <textarea id="texa01" rows="10" style="width: 100%;"></textarea>
        <br><br>
        <button id="butt00" style="padding: 4px; margin-right: 4px;"></button>
        <br><br>
        <div id="div02" hidden></div>
        <textarea id="texa02" rows="20" style="width: 100%;" ></textarea>
        <form action="/v3/formIndex" id="formIndex" method="POST"></form>
    </body>
</html>
